@charset "UTF-8";

h1{
  color:#bd8d0a;;
}
body{
  text-align: center;
  background-color: #000022;
}

.appframe{
  background-color: #ffffff;
  width:420px;
  margin:auto;
  padding:10px;
  border-radius: 10px;
}

ul{
  list-style: none;
  padding: 0;
}
li{
    border-top:solid 1px #b1daff;
    padding:2px;
    cursor: pointer;
}

.active{
  background: rgba(56, 98, 148, 0.49);
  color:#505ebb;
}

li:hover{
  background:#06a7d8;
}
a{
  color:#bd8d0a;
}
