*{
  margin: 0;
  padding: 0;

}


li {
  list-style: none;
}

body{
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

a{
  text-decoration:none;
}
.container{
  width: 100%;
 padding: 0 0;
 margin: 0 auto;
}

.header{
  height:90px;
  width:;
  background-color:#32cd32;

}

.header-logo{
  float:left;
  color: white;
  font-size:30px;
  margin:25px 20px;
}

.header-list{
  float: left;
}

.header-list li{
  float: left;
  padding: 32px 10px;
  color: white;
}

.main{

  height:500px;
  width:;
  background-image:url(https://cdn.pixabay.com/photo/2016/04/05/09/28/tea-1309015_960_720.jpg);
  background-size: cover;
}

.main-container{
  text-align: center;
  padding: 100px 0;
  color: white;
}

.main-container h1{
  font-size: 65px;
}

.section-title{
  color:#a9a9a9;
  border-bottom: 2px solid;
  text-align: center;
  margin: 15px 10px;
}

.contents-item{
  text-align: center;
  margin: 100px 0;
}
.contents-item p{
  color: #a9a9a9;
}

.footer{
  height:70px;
  background-color:#32cd32;
}

.footer-logo{
  font-size: 20px;
  color: white;
  padding: 20px 10px;
}

.contents-item :hover{
  opacity: 0.9;
}
.contents-item p:hover{
  opacity: 0.8;
}

@media (max-width:800px ) {
  .container{
    height:100%;
    width:auto;
  }
  
  .contents-item img{
    height:100%;
    width:200px;
  }
  .footer-logo{
    color:black;
  }
}

